<div class="sidebar">

    <div class="sidebar-logo">

        <h2>
            SSA
        </h2>

        <span>
            Admin Portal
        </span>

    </div>



    <nav class="sidebar-menu">


        <a href="dashboard.html">

            <i data-lucide="layout-dashboard"></i>

            Dashboard

        </a>



        <a href="admissions.html">

            <i data-lucide="graduation-cap"></i>

            Admissions

        </a>



        <a href="students.html">

            <i data-lucide="users"></i>

            Students

        </a>



        <a href="instructors.html">

            <i data-lucide="user-check"></i>

            Instructors

        </a>



        <a href="courses.html">

            <i data-lucide="book-open"></i>

            Courses

        </a>



        <a href="reports.html">

            <i data-lucide="bar-chart-3"></i>

            Reports

        </a>



        <a href="settings.html">

            <i data-lucide="settings"></i>

            Settings

        </a>


    </nav>



    <div class="sidebar-footer">


        <a href="#" id="logoutBtn">


            <i data-lucide="log-out"></i>

            Logout


        </a>


    </div>


</div>