/* ===========================
   SSA ADMIN TOPBAR
   NAVY + SLATE
=========================== */


.topbar{

width:100%;

display:flex;

justify-content:space-between;

align-items:center;

padding:18px 25px;

background:

rgba(255,255,255,.75);

backdrop-filter:blur(20px);

border-bottom:

1px solid rgba(148,163,184,.25);

position:sticky;

top:0;

z-index:900;

}



.topbar-left{

display:flex;

align-items:center;

gap:15px;

}



.topbar-left h2{

font-size:22px;

color:#1e3a8a;

}



.topbar-left p{

font-size:13px;

color:#64748b;

}



#menuBtn{

display:none;

border:none;

background:#1e3a8a;

color:white;

padding:10px;

border-radius:12px;

cursor:pointer;

}



.topbar-right{

display:flex;

align-items:center;

gap:15px;

}



.icon-btn{

border:none;

background:#eff6ff;

color:#1e3a8a;

padding:12px;

border-radius:12px;

cursor:pointer;

}



.admin-profile{

display:flex;

align-items:center;

gap:8px;

padding:10px 15px;

background:#dbeafe;

border-radius:14px;

color:#1e3a8a;

font-weight:700;

}



@media(max-width:768px){


#menuBtn{

display:block;

}



.topbar{

padding:15px;

}



.topbar-left h2{

font-size:18px;

}



.admin-profile span{

display:none;

}


}