<header class="topbar">

    <div class="topbar-left">

        <button
        id="menuBtn"
        class="menu-btn">

            <i data-lucide="menu"></i>

        </button>

        <div>

            <h2 id="pageTitle">

                Dashboard

            </h2>

            <p>

                Spark Stack Academy

            </p>

        </div>

    </div>



    <div class="topbar-right">

        <button
        class="icon-btn"
        id="notificationBtn">

            <i data-lucide="bell"></i>

        </button>



        <button
        class="icon-btn"
        id="themeBtn">

            <i data-lucide="moon"></i>

        </button>



        <div class="admin-profile">

            <div class="avatar">

                A

            </div>

            <div>

                <strong id="adminName">

                    Administrator

                </strong>

                <small>

                    Admin

                </small>

            </div>

        </div>

    </div>

</header>