/* ===========================
   SSA SIDEBAR SYSTEM
=========================== */


.sidebar{

    position:fixed;

    top:0;
    left:0;

    width:280px;

    height:100vh;

    padding:25px 20px;

    display:flex;

    flex-direction:column;


    background:
    rgba(255,250,240,.85);


    backdrop-filter:
    blur(25px);


    border-right:
    1px solid rgba(226,232,240,.8);


    z-index:1000;

    transition:.35s ease;

}





/* LOGO */

.sidebar-logo{

    margin-bottom:45px;

}


.sidebar-logo h2{

    font-size:30px;

    font-weight:800;


    background:
    linear-gradient(
        90deg,
        #2563eb,
        #9333ea
    );


    -webkit-background-clip:text;

    color:transparent;

}


.sidebar-logo span{

    color:#64748b;

    font-size:14px;

}





/* MENU */

.sidebar-menu{

    display:flex;

    flex-direction:column;

    gap:8px;

}


.sidebar-menu a,
.sidebar-footer a{


    display:flex;

    align-items:center;

    gap:12px;


    padding:14px 16px;


    border-radius:16px;


    color:#475569;


    text-decoration:none;


    font-size:15px;


    transition:.25s ease;

}



.sidebar-menu a:hover,
.sidebar-footer a:hover{


    background:
    rgba(37,99,235,.08);


    color:#2563eb;


    transform:translateX(5px);

}





.sidebar-menu a.active{


    background:

    linear-gradient(
        90deg,
        rgba(37,99,235,.15),
        rgba(147,51,234,.12)
    );


    color:#2563eb;

}





/* FOOTER */


.sidebar-footer{

    margin-top:auto;

}





/* OVERLAY */


#sidebarOverlay{


    position:fixed;


    inset:0;


    background:
    rgba(15,23,42,.45);


    backdrop-filter:
    blur(4px);


    opacity:0;


    visibility:hidden;


    pointer-events:none;


    transition:.3s ease;


    z-index:999;

}





/* MOBILE */

@media(max-width:992px){


    .sidebar{


        transform:
        translateX(-100%);


        box-shadow:

        15px 0 40px
        rgba(0,0,0,.15);

    }



    .sidebar.active{


        transform:
        translateX(0);

    }



    #sidebarOverlay.active{


        opacity:1;


        visibility:visible;


        pointer-events:auto;

    }



    body.menu-open{


        overflow:hidden;

    }


}