<aside class="sidebar">


    <!-- BRAND -->

    <div class="sidebar-brand">


        <img 
        src="../assets/images/ssa-logo.png"
        alt="SSA Logo">


        <div>

            <h2>
                Spark Stack
            </h2>

            <span>
                Student Portal
            </span>

        </div>


    </div>





    <!-- STUDENT PROFILE -->

    <div class="sidebar-profile">


        <div 
        class="sidebar-avatar"
        id="sidebarAvatar">

            S

        </div>



        <div class="sidebar-user">


            <h3 id="sidebarStudentName">

                Student

            </h3>


            <p>

                Learner

            </p>


        </div>


    </div>






    <!-- NAVIGATION -->

    <nav class="sidebar-nav">


        <a href="dashboard.html"
           class="nav-link active">


            <i data-lucide="layout-dashboard"></i>

            <span>
                Dashboard
            </span>


        </a>




        <a href="courses.html"
           class="nav-link">


            <i data-lucide="book-open"></i>

            <span>
                My Courses
            </span>


        </a>





        <a href="certificates.html"
           class="nav-link">


            <i data-lucide="award"></i>

            <span>
                Certificates
            </span>


        </a>





        <a href="course-player.html"
           class="nav-link">


            <i data-lucide="play-circle"></i>

            <span>
                Learning
            </span>


        </a>





        <a href="settings.html"
           class="nav-link">


            <i data-lucide="settings"></i>

            <span>
                Settings
            </span>


        </a>


    </nav>







    <!-- FOOTER -->


    <div class="sidebar-footer">


        <button id="logoutBtn">


            <i data-lucide="log-out"></i>


            Logout


        </button>


    </div>




</aside>