<!-- =====================================
     SPARK STACK ACADEMY
     STUDENT TOPBAR V1
===================================== -->


<header class="topbar">



    <!-- MOBILE MENU -->

    <button 
class="menu-btn"
id="mobileMenuBtn">

<i data-lucide="menu"></i>

</button>








    <!-- SEARCH -->

    <div class="top-search">


        <i data-lucide="search"></i>


        <input 
        type="search"
        placeholder="Search courses, lessons...">


    </div>








    <!-- RIGHT ACTIONS -->

    <div class="top-actions">






        <!-- STREAK -->

        <div class="streak-widget">


            <i data-lucide="flame"></i>


            <div>


                <strong id="streakCount">

                    0

                </strong>


                <span>

                    Day Streak

                </span>


            </div>


        </div>








        <!-- XP -->

        <div class="xp-widget">


            <i data-lucide="zap"></i>


            <div>


                <strong>

                    Level 
                    <span id="topLevel">
                        1
                    </span>

                </strong>



                <small>


                    <span id="xpPoints">
                        0
                    </span>
                    XP


                </small>


            </div>



        </div>








        <!-- NOTIFICATIONS -->

        <button 
        class="icon-btn"
        id="notificationBtn">


            <i data-lucide="bell"></i>


            <span 
            class="badge"
            id="notificationCount">

                0

            </span>


        </button>



<div class="notification-panel"
id="notificationPanel">

    <h4>
        Notifications
    </h4>

    <div id="notificationList">

        <p>
            No new notifications
        </p>

    </div>

</div>




        <!-- PROFILE -->

        <div class="profile-menu" id="profileMenu">



            <div 
            class="student-avatar"
            id="topAvatar">


                S


            </div>





            <div class="profile-info">


                <strong id="topStudentName">

                    Student

                </strong>


                <span>

                    Learner

                </span>


            </div>



        </div>





    </div>



</header>