<header class="student-topbar">


    <!-- MENU -->

    <button 
    id="menuBtn"
    class="menu-btn">

        <i data-lucide="menu"></i>

    </button>





    <!-- SEARCH -->

    <div class="topbar-search">


        <i data-lucide="search"></i>


        <input 
        type="search"
        placeholder="Search courses..."
        id="courseSearch">


    </div>







    <!-- ACTIONS -->

    <div class="topbar-actions">



        <button class="notification-btn">


            <i data-lucide="bell"></i>


            <span class="notification-count">

                0

            </span>


        </button>





        <div class="student-profile-menu">


            <div 
            class="student-avatar"
            id="topStudentAvatar">

                S

            </div>



            <div class="student-mini-info">


                <strong id="topStudentName">

                    Student

                </strong>


                <small>

                    Student

                </small>


            </div>



        </div>



    </div>



</header>