<div class="sidebar">

    <div class="sidebar-logo">

        <h2>
            SSA
        </h2>

        <span>
            Instructor Portal
        </span>

    </div>



    <nav class="sidebar-menu">


        <a href="dashboard.html" class="active">

            <i data-lucide="layout-dashboard"></i>

            Dashboard

        </a>



        <a href="courses.html">

            <i data-lucide="book-open"></i>

            My Courses

        </a>



        <a href="students.html">

            <i data-lucide="users"></i>

            Students

        </a>



        <a href="profile.html">

            <i data-lucide="user"></i>

            Profile

        </a>


    </nav>



    <div class="sidebar-footer">

        <a href="#">

            <i data-lucide="log-out"></i>

            Logout

        </a>

    </div>


</div>