<header class="topbar">

    <button class="menu-btn" id="menuBtn">

        <i data-lucide="menu"></i>

    </button>


    <div class="topbar-left">

        <div class="search-box">

            <i data-lucide="search"></i>

            <input
                type="text"
                id="courseSearch"
                placeholder="Search courses, students...">

        </div>

    </div>


    <div class="topbar-right">

        <div class="notification-wrapper">

            <button class="icon-btn" id="notificationBtn">

                <i data-lucide="bell"></i>

                <span
                id="notificationCount"
                class="notification-count">

                    0

                </span>

            </button>


            <div
            id="notificationDropdown"
            class="notification-dropdown">

                <h3>

                    Notifications

                </h3>

                <p>

                    No notifications yet.

                </p>

            </div>

        </div>


        <div
        id="instructorAvatar"
        class="instructor-avatar">

            I

        </div>

    </div>

</header>